:root{
    --fonte_padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: blanchedalmond;
    background-image: url(../imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: 1096px;
}
img{
    width: 100px;
    height: 100px;
    position: absolute;
}
div.divteste{
    position: relative;
    border: 1px solid black;
    width: 170px;
    height: 350px;
    margin: auto;
    right: 180px;
    bottom: 160px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}
div.divteste > span, img{
    position: relative;
    width: 170px;
    height: 350px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    
}
div.divteste > p{
    padding-top: 250px;
}
img#imagemMusculacao{
    width: 100%;
    height: 70%;
}
img#imagemAtividades{
    top: -80px;
}
img#imagemNatacao{
    top: 1px;
}

h1{
    font-family: var(--fonte_padrao);
    text-align: center;
    padding: 30px;
    font-size: 3em;
    color: aliceblue;
}
header{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, #d70626, #d70625bc);
    display: inline-table;
}
aside{
    width: 140px;
    height: 255px;
    background-color: #d70626;
    border-bottom-right-radius: 20px;
}
ul > li{
    padding-left: 10px;
    color: aliceblue;
    font-family: var(--fonte_padrao);
    font-size: 1em;
    line-height: 50px;
}
ul > li:hover{
    background-color: #DD495F;
    transition: 0.2s;
}
ul > li#specificLi:hover{
    border-bottom-right-radius: 20px;
    height: 56px;
    width: 131px;
    transition: 1s;
}
ul > li:active{
    background-color: #933543;
}



